include ../logo-block/logo-block
include ../../form-elements/button-transparent/button-transparent

header.header
  .header__container
    .header__logo
      +logoBlock
    nav.header__menu
      ul.header__menu-list
        li.header__menu-item
          a.header__menu-link(href="/mock-address/change-me") О нас
        li.header__menu-item
          .header__item-title Услуги
          .header__item-content
            a.header__item-link(href="/mock-address/change-me") Услуга 1
            a.header__item-link(href="/mock-address/change-me") Услуга 2
            a.header__item-link(href="/mock-address/change-me") Услуга 3
        li.header__menu-item
          a.header__menu-link(href="/mock-address/change-me") Вакансии
        li.header__menu-item
          a.header__menu-link(href="/mock-address/change-me") Новости
        li.header__menu-item
          .header__item-title Соглашения
          .header__item-content
            a.header__item-link(href="/mock-address/change-me") Соглашение 1
            a.header__item-link(href="/mock-address/change-me") Соглашение 2
            a.header__item-link(href="/mock-address/change-me") Соглашение 3
      .header__authentication-block
        .header__button-login
          +buttonTransparent({text:"Войти", href:"sign-in.html" ,sizeSmall:true})
        a.header__button-register(href="sign-up.html") зарегистрироваться
    .header__menu-burger
      .header__menu-burger-line_1
      .header__menu-burger-line_2
      .header__menu-burger-line_3
