@import '../logo-block/logo-block';

.header{
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
}
.header__container{
  width: 80.56%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @media (max-width: 1200px) {
    width: 90%;
    height: 90%;
  }
}
.header__logo{
  margin-top: 6px;
}
.header__menu{
  display: flex;
  width: 85%;
  justify-content: flex-end;
}
.header__menu-list{
  font-size: 14px;
  line-height: 17px;
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  color: $darkShade50;
}
.header__menu-item{
  &:nth-child(2),&:nth-child(5) {
    position: relative;
    &:after {
      content: '';
      background-image: url('../assets/img/check.png');
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: 5px;
      transform: translate(0, -40%)
    }
  }
  &:nth-child(2){
    padding-right: 24px;
  }
  &:nth-child(5){
    padding-right: 28px;
    &:after{
      right: 8px;
    }
  }
}
.header__menu-link{
  color: $darkShade50;
  &:hover{
    text-shadow: 0 0 2px gray;
    transition: 0.4s;
  }
}
.header__authentication-block{
  max-width: 44%;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__button-login{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  width: 83px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $purple;
  border-radius: 18px;
  background: #ffffff;
  &:before{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    z-index: -1;
  }
}
.header__button-register{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 22px;
  width: 196px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #ffffff;
}