include ../logo-block/logo-block
include ../../form-elements/button-transparent/button-transparent

-
  const menuValues = ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']

header.header
  .header__container
    .header__logo
      +logoBlock
    nav.header__menu
      ul.header__menu-list
        each value in menuValues
          li.header__menu-item
            a.header__menu-link(href="/mock-address/change-me") #{value}
      .header__authentication-block
        .header__button-login
          +buttonTransparent("войти")
        a.header__button-register(href="/mock-address/change-me") зарегистрироваться
    .header__menu-burger
      .header__menu-burger-line_1
      .header__menu-burger-line_2
      .header__menu-burger-line_3
