@import '../logo-block/logo-block';
@import '../../form-elements/button-transparent/button-transparent';

.header{
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  @media (max-width: 1026px) {
    height: 60px;
  }
  @media (max-width: 850px) {
    max-height: 7vh;
    min-height: 40px;
  }
}
.header__container{
  width: 80.56%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @media (max-width: 1430px) {
    width: 90%;
  }
  @media (max-width: 1026px) {
    width: 97%;
  }
  @media (max-width: 850px) {
    width: 90%;
  }
}
.header__logo{
  margin-top: 6px;
  z-index: 10000;
}
.header__menu{
  display: flex;
  width: 85%;
  justify-content: flex-end;
  @media (max-width: 850px) {
    position: absolute;
    right: 0;
    top: 7vh;
    height: 93vh;
    width: 50%;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform .5s ease-in;
    z-index: 9000;
  }
  @media (max-width: 450px) {
    width: 100%;
  }
  @media (max-height: 500px) {
    top: 35px;
  }
}
.header__menu-list{
  font-size: 14px;
  line-height: 17px;
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  color: $darkShade50;
  @media (max-width: 850px) {
    flex-direction: column;
    height: 71.5%;
    justify-content: space-around;
    width: 100%;
  }
}
.header__menu-item{
  @media (max-width: 850px) {
    opacity: 0;
  }
  &:nth-child(2),&:nth-child(5) {
    position: relative;
    &:after {
      content: '';
      background-image: url('../assets/img/check.png');
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: 5px;
      transform: translate(0, -40%)
    }
  }
  &:nth-child(2){
    padding-right: 24px;
  }
  &:nth-child(5){
    padding-right: 28px;
    &:after{
      right: 8px;
    }
  }
}
.header__menu-link{
  color: $darkShade50;
  &:hover{
    text-shadow: 0 0 2px gray;
    transition: 0.4s;
  }
}
.header__authentication-block{
  max-width: 44%;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 850px) {
    flex-direction: column;
    height: 28.5%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 0;
    max-width: 100%;
  }
}
.header__button-login{
  width: 83px;
  height: 30px;
  z-index: 1;
  @media (max-width: 850px) {
    width: 100%;
    opacity: 0;
  }
}
.header__button-register{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 22px;
  width: 196px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #ffffff;
  @media (max-width: 850px) {
    width: 100%;
    background: #FFFFFF;
    color: $darkShade50;
    opacity: 0;
  }
}
.header__menu-burger{
  display: none;
  cursor: pointer;
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
  }
}
.header__menu-burger div{
  width: 25px;
  height: 3px;
  background: $purple;
  margin: 3px;
  transition: all .4s ease;
}
.toggle .header__menu-burger-line_1{
  transform: rotate(-45deg) translate(-5px,7.5px);
}
.toggle .header__menu-burger-line_2{
  opacity: 0;
}
.toggle .header__menu-burger-line_3{
  transform: rotate(45deg) translate(-5px,-7.5px);
}
.header__menu-active{
  transform: translateX(0%);
}
@keyframes menuItemFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}