.main
  //include  ../../../components/headers-and-footers/header/header
  section.content
    .content__background
      img.content__background-img(src="./assets/img/main-bg3.jpg")
      //.swiper
      //  .swiper-wrapper
      //    .swiper-slide
      //      img.content__background-img(src="./assets/img/main-bg1.jpg")
      //    .swiper-slide
      //      img.content__background-img(src="./assets/img/main-bg2.jpg")
      //    .swiper-slide
      //      img.content__background-img(src="./assets/img/main-bg3.jpg")
    .content__room-search-form
      include  ../../../components/cards/room-search-form/room-search-form
    .content__background-text Лучшие номера для вашей работы, отдыха и просто вдохновения
  include  ../../../components/headers-and-footers/footer/footer

