.main
  .content
    .content__header
      include  ../../../components/headers-and-footers/header/header
      //include  ../../../components/headers-and-footers/header-with-profile/header-with-profile
    .content__background
      img.content__background-img(src="./assets/img/main-bg3.jpg" alt="background-image")
      //- .swiper
      //-   .swiper-wrapper
      //-     .swiper-slide
      //-       img.content__background-img(src="./assets/img/main-bg3.jpg" alt="background-image")
      //-     .swiper-slide
      //-       img.content__background-img(src="./assets/img/main-bg1.jpg" alt="background-image")
      //-     .swiper-slide
      //-       img.content__background-img(src="./assets/img/main-bg2.jpg" alt="background-image")
    .content__room-search-form
      .content__room-search-form-container
        include  ../../../components/cards/room-search-form/room-search-form
        .content__calendar
          include  ../../../components/cards/calendar/calendar
    .content__background-text Лучшие номера для вашей работы, отдыха и просто вдохновения
  .main__footer
    include  ../../../components/headers-and-footers/footer/footer

