- let isAuth = false;

.auth
  .auth__content
    .auth__header
      include ../../../components/headers-and-footers/header/header
    .auth__background
      .swiper
        .swiper-wrapper
          .swiper-slide
            img.auth__background-img(src="./assets/img/main-bg-4.jpg" alt="background-image")
          .swiper-slide
            img.auth__background-img(src="./assets/img/main-bg-1.jpg" alt="background-image")
    .auth__card
      if isAuth
        .auth__card-sign-in
          include ../../../components/cards/account-login/account-login
      else
        .auth__card-registration
           include ../../../components/cards/account-registration/account-registration
  .auth__footer
    include  ../../../components/headers-and-footers/footer/footer