.calendar
  .calendar__month
    img.calendar__arrow-prev(src="./assets/img/arrow-prev.svg" alt="arrow-prev")
    .calendar__date-container
      h2.calendar__date
    img.calendar__arrow-next(src="./assets/img/arrow-forward.svg" alt="arrow-next")
  .calendar__weekdays
    .calendar__monday Пн
    .calendar__tuesday Вт
    .calendar__wednesday Ср
    .calendar__thursday Чт
    .calendar__friday Пт
    .calendar__saturday Сб
    .calendar__sunday Вс
  .calendar__days