/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/room-details.scss ***!
  \***********************************************************************************************************************/
@font-face {
  font-family: 'Montserrat';
  src: url(20b353cdc120001a0fbc.woff) format("woff"), url(3cd786652b8a2e9d41f2.ttf) format("truetype"), url(0acf1a5e649e560559aa.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(ffca4866671f58cca87f.woff) format("woff"), url(079ca05d3ded9bc107ab.ttf) format("truetype"), url(3c4532b19d7c3e42df20.svg) format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(971d5d91d07cc5c2d8fa.woff) format("woff"), url(4c3d23174e1f233b946d.ttf) format("truetype"), url(aabf1408093d37ce7cd4.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul li {
  list-style: none; }

a, a:visited, a:hover {
  text-decoration: none; }

h1, h2, h3 {
  font-weight: 700;
  color: #1F2041; }

h1 {
  font-size: 24px;
  line-height: 29.26px; }
  @media (max-width: 1350px) {
    h1 {
      font-size: 22px; } }

h2 {
  font-size: 18px; }

h3 {
  font-size: 12px;
  line-height: 15px; }
  @media (max-width: 1350px) {
    h3 {
      font-size: 11px;
      line-height: 14px; } }

body {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  max-width: 1920px;
  min-width: 320px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

input, button, textarea {
  font-family: inherit; }

.lock {
  overflow: hidden; }

.logo-block {
  display: flex;
  height: 100%;
  width: 105px;
  align-items: center;
  justify-content: space-between; }

.logo-block__title {
  padding-bottom: 2px; }

.button-transparent {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid transparent;
  background-color: #ffffff;
  height: 40px;
  width: 95px; }
  .button-transparent:before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 24px;
    z-index: -1;
    transition: opacity .3s ease-in 0s; }
  .button-transparent:hover:before {
    opacity: .5; }
  .button-transparent_size_small {
    height: 30px;
    width: 83px; }
    @media (max-width: 850px) {
      .button-transparent_size_small:before {
        content: none; } }
    @media (max-width: 850px) {
      .button-transparent_size_small {
        color: rgba(31, 32, 65, 0.5);
        width: 100%; } }

.header {
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05); }
  @media (max-width: 1026px) {
    .header {
      height: 60px; } }
  @media (max-width: 850px) {
    .header {
      max-height: 7vh;
      min-height: 40px; } }

.header__container {
  width: 80.56%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  @media (max-width: 1430px) {
    .header__container {
      width: 90%; } }
  @media (max-width: 1026px) {
    .header__container {
      width: 97%; } }
  @media (max-width: 850px) {
    .header__container {
      width: 90%; } }

.header__logo {
  margin-top: 6px;
  z-index: 10000; }

.header__menu {
  display: flex;
  width: 85%;
  justify-content: flex-end; }
  @media (max-width: 850px) {
    .header__menu {
      position: absolute;
      right: 0;
      top: 7vh;
      height: 93vh;
      width: 50%;
      background-color: #FFFFFF;
      flex-direction: column;
      justify-content: space-between;
      transform: translateX(100%);
      transition: transform .5s ease-in;
      z-index: 9000; } }
  @media (max-width: 450px) {
    .header__menu {
      width: 100%; } }
  @media (max-height: 500px) {
    .header__menu {
      top: 35px; } }

.header__menu-list {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  color: rgba(31, 32, 65, 0.5); }
  @media (max-width: 850px) {
    .header__menu-list {
      flex-direction: column;
      height: 71.5%;
      justify-content: space-around;
      width: 100%; } }

.header__menu-item {
  cursor: pointer; }
  .header__menu-item:hover .header__item-content {
    display: block; }
  @media (max-width: 850px) {
    .header__menu-item {
      opacity: 0; } }
  .header__menu-item:nth-child(2), .header__menu-item:nth-child(5) {
    position: relative; }
    .header__menu-item:nth-child(2):after, .header__menu-item:nth-child(5):after {
      content: '';
      cursor: pointer;
      background-image: url(7e77313e402d1abd123b.png);
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: 5px;
      transform: translate(0, -40%); }
  .header__menu-item:nth-child(2) {
    padding-right: 24px; }
  .header__menu-item:nth-child(5) {
    padding-right: 28px; }
    .header__menu-item:nth-child(5):after {
      right: 8px; }

.header__menu-link {
  color: rgba(31, 32, 65, 0.5); }
  .header__menu-link:hover {
    text-shadow: 0 0 2px gray;
    transition: 0.4s; }

.header__item-title {
  cursor: pointer; }
  .header__item-title:hover {
    text-shadow: 0 0 2px gray;
    transition: 0.4s; }

.header__item-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }

.header__item-link {
  color: rgba(31, 32, 65, 0.5);
  padding: 10px 5px;
  text-decoration: none;
  display: inline-block; }
  .header__item-link:hover {
    text-shadow: 0 0 2px gray;
    transition: 0.4s; }

.header__authentication-block {
  max-width: 44%;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media (max-width: 850px) {
    .header__authentication-block {
      flex-direction: column;
      height: 28.5%;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      padding: 0;
      max-width: 100%; } }

.header__button-login {
  width: 83px;
  height: 30px;
  z-index: 1; }
  @media (max-width: 850px) {
    .header__button-login {
      width: 100%;
      opacity: 0; } }

.header__button-register {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 22px;
  width: 196px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #ffffff; }
  @media (max-width: 850px) {
    .header__button-register {
      width: 100%;
      background: #FFFFFF;
      color: rgba(31, 32, 65, 0.5);
      opacity: 0; } }

.header__menu-burger {
  display: none;
  cursor: pointer; }
  @media (max-width: 850px) {
    .header__menu-burger {
      display: flex;
      flex-direction: column; } }

.header__menu-burger div {
  width: 25px;
  height: 3px;
  background: #BC9CFF;
  margin: 3px;
  transition: all .4s ease; }

.toggle .header__menu-burger-line_1 {
  transform: rotate(-45deg) translate(-5px, 7.5px); }

.toggle .header__menu-burger-line_2 {
  opacity: 0; }

.toggle .header__menu-burger-line_3 {
  transform: rotate(45deg) translate(-5px, -7.5px); }

.header__menu-active {
  transform: translateX(0%); }

@keyframes menuItemFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.room-details__container {
  display: flex;
  flex-direction: column;
  width: 280px; }

.room-details__item {
  width: 100%;
  height: 67px;
  display: flex;
  margin-top: 21px;
  margin-left: 5px; }

.room-details__img {
  width: 48px;
  height: 48px;
  margin-top: 1px; }

.room-details__info {
  display: flex;
  flex-direction: column;
  margin-left: 5px; }

.room-details__title {
  font-weight: 700;
  color: #1F2041; }

.room-details__line {
  height: 1px;
  width: 100%;
  background-color: rgba(31, 32, 65, 0.1); }

.room-details__line_hidden {
  display: none; }

.button-like {
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;
  position: relative; }
  .button-like:before {
    content: '';
    height: 8px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
    background-image: url(69d1f53200b2364767d2.svg); }

.button-like__count {
  display: flex;
  width: 10px;
  font-size: 10px;
  color: rgba(31, 32, 65, 0.25);
  padding-bottom: 1px;
  margin-left: 15px;
  justify-content: center; }

.like {
  border-color: #BC9CFF;
  color: #BC9CFF; }
  .like:after {
    content: '';
    height: 8px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
    background-image: url(dabf545f82dbc0ba63f7.svg); }

.reviews {
  display: flex;
  flex-direction: column; }

.reviews__user-profile {
  display: flex; }

.reviews__user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: translateX(-2px); }

.reviews__user-avatar-img {
  border-radius: 50%;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.08);
  max-width: 48px;
  border: 2px solid #FFFFFF; }

.reviews__user-info {
  display: flex;
  flex-direction: column;
  margin-left: 9px; }

.reviews__user-name {
  font-weight: 700; }

.reviews__user-review {
  display: flex;
  margin-top: 9px; }

.reviews__like-button {
  margin-top: 2px;
  margin-left: 3px; }

.reviews__user-review-text {
  margin-left: 14px; }

.bullet-list {
  width: 255px; }

.bullet-list__list {
  margin-top: 8px; }

.bullet-list__item {
  margin-bottom: 10px;
  color: rgba(31, 32, 65, 0.75);
  position: relative;
  padding-left: 20px; }
  .bullet-list__item:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(31, 32, 65, 0.25);
    top: 7px;
    left: 0; }

.date-dropdown {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 64px; }
  @media (max-width: 340px) {
    .date-dropdown {
      width: 310px;
      margin: 0 auto; } }

.date-dropdown__wrap {
  position: relative;
  width: 46.875%; }

.date-dropdown__title {
  font-weight: 700;
  color: #1F2041;
  text-transform: uppercase;
  padding-bottom: 5px; }

.date-dropdown__input {
  width: 100%;
  height: 70%;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 10%;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px; }
  .date-dropdown__input::placeholder {
    letter-spacing: 0; }

.date-dropdown__input-check-container {
  width: 12px;
  height: 8px;
  position: absolute;
  bottom: 42%;
  right: 10%; }

.dropdown {
  position: relative;
  width: 320px; }
  .dropdown_size_small {
    width: 266px; }
  .dropdown__title {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #1F2041;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .dropdown__input {
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    color: rgba(31, 32, 65, 0.75);
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding-left: 15px;
    background-color: #ffffff;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0; }
  .dropdown__input-check {
    position: absolute;
    bottom: 18px;
    right: 14px;
    width: 12px;
    height: 8px; }

.button-size-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 44px;
  border-radius: 22px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: 400;
  position: relative;
  cursor: pointer; }
  @media (max-width: 340px) {
    .button-size-large {
      width: 310px; } }
  .button-size-large:after {
    content: '';
    position: absolute;
    background-image: url(d4701dff7a6e939030dc.svg);
    width: 17px;
    height: 17px;
    top: 50%;
    right: 0;
    transform: translate(-75%, -50%); }

.room-reservation {
  width: 380px;
  height: 512px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  @media (max-width: 340px) {
    .room-reservation {
      padding: 20px 10px;
      height: 458px;
      width: 340px; } }

.room-reservation__info {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 340px) {
    .room-reservation__info {
      width: 310px;
      margin: 0 auto; } }

.room-reservation__title {
  display: flex; }

.room-reservation__number {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1F2041;
  padding: 10px 4px 0 0; }

.room-reservation__number-room {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #1F2041; }

.room-reservation__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  padding: 12px 0 0 7px; }

.room-reservation__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  padding: 10px 0 0 0; }

.room-reservation__day {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 2px; }

.room-reservation__date {
  margin-top: 22px; }

.room-reservation__quests {
  margin-top: 20px; }

.room-reservation__calculations {
  margin-top: 18px; }

.room-reservation__string {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px; }
  @media (max-width: 340px) {
    .room-reservation__string {
      width: 310px;
      margin: 0 auto; } }

.room-reservation__item {
  display: flex; }

.room-reservation__item-text {
  width: 214px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-top: 3px; }

.room-reservation__amount {
  border-bottom: 5px; }

.room-reservation__discount {
  padding-bottom: 6px; }

a.room-reservation__icon-info-link {
  margin-left: 6px; }

.room-reservation__total {
  display: flex;
  margin-top: 20px; }
  @media (max-width: 340px) {
    .room-reservation__total {
      width: 310px;
      margin: 0 auto; } }

.room-reservation__total-title,
.room-reservation__total-amount {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1F2041; }

.room-reservation__total-line {
  width: 182px;
  height: 1px;
  border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
  padding-top: 18px;
  margin-left: 5px; }

.room-reservation__total-amount_end {
  padding-left: 5px; }

.room-reservation__reservation-button {
  margin-top: 21px; }
  @media (max-width: 340px) {
    .room-reservation__reservation-button {
      width: 310px;
      margin: 15px auto 0 auto; } }

.logo-block {
  display: flex;
  height: 100%;
  width: 105px;
  align-items: center;
  justify-content: space-between; }

.logo-block__title {
  padding-bottom: 2px; }

.social-networks-block {
  display: flex;
  align-items: center; }

.social-networks-block__item {
  margin-left: 20px;
  height: 24px;
  width: 24px; }

.copyright {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75); }

.subscription-field__input-container {
  height: 44px;
  width: 266px;
  position: relative; }

.subscription-field__input {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  position: relative; }
  .subscription-field__input::placeholder {
    color: rgba(31, 32, 65, 0.25);
    letter-spacing: 0;
    transform: translate(-2px, -1px); }
  .subscription-field__input:hover, .subscription-field__input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.subscription-field__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  background-color: transparent;
  cursor: pointer; }

.subscription-field__button-img {
  width: 18px;
  height: 18px; }

.footer {
  width: 100%;
  height: 443px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .footer {
      align-items: center;
      padding-top: 120px;
      padding-bottom: 120px;
      height: content-box; } }

.footer-top {
  display: flex;
  width: 80.56%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 92px 0 97px; }
  @media (max-width: 1430px) {
    .footer-top {
      width: 90%; } }
  @media (max-width: 1050px) {
    .footer-top {
      width: 95%; } }
  @media (max-width: 768px) {
    .footer-top {
      padding: 0; } }

.footer-top__description {
  flex: 0 0 25.86%;
  padding: 0 40px 0 0; }
  @media (max-width: 1050px) {
    .footer-top__description {
      padding-right: 10px; } }
  @media (max-width: 768px) {
    .footer-top__description {
      padding: 0;
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 13px; } }

.footer-top__description-text {
  padding-top: 10px; }
  @media (max-width: 768px) {
    .footer-top__description-text {
      display: none; } }

.footer-top__menu {
  display: flex;
  flex: 0 0 51.73%;
  padding-top: 4px; }
  @media (max-width: 1320px) {
    .footer-top__menu {
      flex: 0 0 46.73%; } }
  @media (max-width: 768px) {
    .footer-top__menu {
      display: none; } }

.footer-top__menu-section {
  flex: 0 0 33.33%;
  padding-right: 20px; }
  @media (max-width: 1050px) {
    .footer-top__menu-section {
      padding-right: 10px; } }

.footer-top__menu-item {
  padding: 15px 0 0;
  color: rgba(31, 32, 65, 0.5); }
  @media (max-width: 1320px) {
    .footer-top__menu-item {
      padding: 10px 0 0; } }

.footer-top__menu-link {
  color: rgba(31, 32, 65, 0.5); }

.footer-top__menu-title,
.footer-top__subscription-title {
  line-height: 17px;
  text-transform: uppercase; }

.footer-top__subscription {
  padding-top: 3px;
  flex: 0 0 22.41%; }
  @media (max-width: 1320px) {
    .footer-top__subscription {
      flex: 0 0 27.41%; } }
  @media (max-width: 768px) {
    .footer-top__subscription {
      display: none; } }

.footer-top__subscription-text {
  padding: 17px 0 23px;
  width: 97%; }
  @media (max-width: 1320px) {
    .footer-top__subscription-text {
      width: 90%; } }

.footer-top__subscription-form {
  display: flex;
  width: 97%;
  position: relative; }
  @media (max-width: 1050px) {
    .footer-top__subscription-form > div {
      width: 100%; } }

.footer-line {
  width: 100vw;
  height: 1px;
  background-color: #E5E5E5; }
  @media (max-width: 768px) {
    .footer-line {
      display: none; } }

.footer-bottom {
  width: 80.56%;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .footer-bottom {
      flex-direction: column;
      justify-content: center;
      height: 67px;
      width: 99%; } }
  @media (max-width: 768px) {
    .footer-bottom > div:first-child {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      text-align: center; } }
  @media (max-width: 380px) {
    .footer-bottom > div:first-child {
      width: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px; } }

.page-room-details {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .page-room-details h2 {
    letter-spacing: 0.6px; }
  .page-room-details__photos-container {
    display: flex;
    justify-content: space-between;
    max-height: 485px;
    width: 100%; }
  .page-room-details__photo_main {
    flex: 1 1 68%;
    overflow: hidden; }
  .page-room-details__photo {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .page-room-details__photos {
    display: flex;
    flex-direction: column;
    flex: 1 1 32%;
    overflow: hidden; }
  .page-room-details__photo_secondary {
    height: 50%; }
  .page-room-details__info {
    width: 80.6%;
    max-width: 1200px;
    margin: 70px auto 64px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1430px) {
      .page-room-details__info {
        width: 90%; } }
    @media (max-width: 1026px) {
      .page-room-details__info {
        width: 97%; } }
    @media (max-width: 950px) {
      .page-room-details__info {
        flex-direction: column-reverse;
        margin-top: 20px; } }
    @media (max-width: 850px) {
      .page-room-details__info {
        width: 90%; } }
  .page-room-details__main-block {
    display: flex;
    flex-direction: column;
    padding-right: 70px; }
    @media (max-width: 1300px) {
      .page-room-details__main-block {
        padding-right: 40px; } }
    @media (max-width: 950px) {
      .page-room-details__main-block {
        padding-right: 0; } }
  .page-room-details__main-block-top {
    display: flex; }
    @media (max-width: 1150px) {
      .page-room-details__main-block-top {
        justify-content: space-between; } }
    @media (max-width: 650px) {
      .page-room-details__main-block-top {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .page-room-details__details {
    width: 50.5%; }
    @media (max-width: 650px) {
      .page-room-details__details {
        width: 100%; } }
  @media (max-width: 650px) {
    .page-room-details__details-title {
      text-align: center; } }
  @media (max-width: 650px) {
    .page-room-details__details-items {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .page-room-details__diagram {
    width: 49.5%; }
    @media (max-width: 1150px) {
      .page-room-details__diagram {
        width: 40%; } }
    @media (max-width: 650px) {
      .page-room-details__diagram {
        width: 100%;
        text-align: center; } }
  .page-room-details__diagram-content {
    display: flex;
    padding-top: 20px; }
    @media (max-width: 1150px) {
      .page-room-details__diagram-content {
        display: flex;
        flex-direction: column;
        margin-left: 20px; } }
    @media (max-width: 650px) {
      .page-room-details__diagram-content {
        flex-direction: row;
        margin-left: 0;
        justify-content: center;
        margin-bottom: 20px; } }
  .page-room-details__chart-container {
    position: relative;
    height: 122px;
    width: 122px; }
  .page-room-details__chart-subtext {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 49%;
    font-weight: 400;
    color: #BC9CFF;
    font-size: 15.5px; }
  .page-room-details__legend-list {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 27px;
    margin-left: 18px; }
    @media (max-width: 1150px) {
      .page-room-details__legend-list {
        margin-left: 0; } }
  .page-room-details__legend-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    cursor: pointer; }
  .page-room-details__color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%; }
    .page-room-details__color-box_1 {
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%); }
    .page-room-details__color-box_2 {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
    .page-room-details__color-box_3 {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }
    .page-room-details__color-box_4 {
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%); }
  .page-room-details__chart-title_bottom {
    font-size: 15px;
    font-weight: 400; }
  .page-room-details__reviews {
    margin-top: 13px;
    margin-bottom: 33px; }
  .page-room-details__reviews-title-container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 430px) {
      .page-room-details__reviews-title-container {
        flex-direction: column; } }
  .page-room-details__number-of-reviews {
    margin-top: 3px;
    color: rgba(31, 32, 65, 0.5); }
  .page-room-details__review {
    width: 100%;
    margin-top: 19px; }
    .page-room-details__review:last-child {
      margin-top: 23px; }
  .page-room-details__main-block-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 650px) {
      .page-room-details__main-block-bottom {
        flex-direction: column; } }
  .page-room-details__rules-title {
    padding-left: 20px;
    padding-bottom: 8px; }
    @media (max-width: 650px) {
      .page-room-details__rules-title {
        padding-left: 0px; } }
  .page-room-details__cancel {
    width: 48.2%;
    margin-right: 6px; }
    @media (max-width: 650px) {
      .page-room-details__cancel {
        width: 100%; } }
  .page-room-details__cancel-text {
    margin-right: 13px;
    margin-top: 17px; }
  @media (max-width: 950px) {
    .page-room-details__card {
      margin-bottom: 20px; } }
  @media (max-width: 650px) {
    .page-room-details__card {
      display: flex;
      justify-content: center; } }
  .page-room-details__line {
    width: 100%;
    height: 1px;
    background-color: rgba(31, 32, 65, 0.25);
    margin-bottom: 8px; }

