/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/sign-up.scss ***!
  \******************************************************************************************************************/
@font-face {
  font-family: 'Montserrat';
  src: url(20b353cdc120001a0fbc.woff) format("woff"), url(3cd786652b8a2e9d41f2.ttf) format("truetype"), url(0acf1a5e649e560559aa.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(ffca4866671f58cca87f.woff) format("woff"), url(079ca05d3ded9bc107ab.ttf) format("truetype"), url(3c4532b19d7c3e42df20.svg) format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(971d5d91d07cc5c2d8fa.woff) format("woff"), url(4c3d23174e1f233b946d.ttf) format("truetype"), url(aabf1408093d37ce7cd4.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul li {
  list-style: none; }

a, a:visited, a:hover {
  text-decoration: none; }

h1, h2, h3 {
  font-weight: 700;
  color: #1F2041; }

h1 {
  font-size: 24px;
  line-height: 29.26px; }
  @media (max-width: 1350px) {
    h1 {
      font-size: 22px; } }

h2 {
  font-size: 18px; }

h3 {
  font-size: 12px;
  line-height: 15px; }
  @media (max-width: 1350px) {
    h3 {
      font-size: 11px;
      line-height: 14px; } }

body {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  max-width: 1920px;
  min-width: 320px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

input, button, textarea {
  font-family: inherit; }

.lock {
  overflow: hidden; }

.logo-block {
  display: flex;
  height: 100%;
  width: 105px;
  align-items: center;
  justify-content: space-between; }

.logo-block__title {
  padding-bottom: 2px; }

.button-transparent {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid transparent;
  background-color: #ffffff;
  height: 40px;
  width: 95px; }
  .button-transparent:before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 24px;
    z-index: -1;
    transition: opacity .3s ease-in 0s; }
  .button-transparent:hover:before {
    opacity: .5; }
  .button-transparent_size_small {
    height: 30px;
    width: 83px; }
    @media (max-width: 850px) {
      .button-transparent_size_small:before {
        content: none; } }
    @media (max-width: 850px) {
      .button-transparent_size_small {
        color: rgba(31, 32, 65, 0.5);
        width: 100%; } }

.header {
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05); }
  @media (max-width: 1026px) {
    .header {
      height: 60px; } }
  @media (max-width: 850px) {
    .header {
      max-height: 7vh;
      min-height: 40px; } }

.header__container {
  width: 80.56%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  @media (max-width: 1430px) {
    .header__container {
      width: 90%; } }
  @media (max-width: 1026px) {
    .header__container {
      width: 97%; } }
  @media (max-width: 850px) {
    .header__container {
      width: 90%; } }

.header__logo {
  margin-top: 6px;
  z-index: 10000; }

.header__menu {
  display: flex;
  width: 85%;
  justify-content: flex-end; }
  @media (max-width: 850px) {
    .header__menu {
      position: absolute;
      right: 0;
      top: 7vh;
      height: 93vh;
      width: 50%;
      background-color: #FFFFFF;
      flex-direction: column;
      justify-content: space-between;
      transform: translateX(100%);
      transition: transform .5s ease-in;
      z-index: 9000; } }
  @media (max-width: 450px) {
    .header__menu {
      width: 100%; } }
  @media (max-height: 500px) {
    .header__menu {
      top: 35px; } }

.header__menu-list {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  color: rgba(31, 32, 65, 0.5); }
  @media (max-width: 850px) {
    .header__menu-list {
      flex-direction: column;
      height: 71.5%;
      justify-content: space-around;
      width: 100%; } }

.header__menu-item {
  cursor: pointer; }
  .header__menu-item:hover .header__item-content {
    display: block; }
  @media (max-width: 850px) {
    .header__menu-item {
      opacity: 0; } }
  .header__menu-item:nth-child(2), .header__menu-item:nth-child(5) {
    position: relative; }
    .header__menu-item:nth-child(2):after, .header__menu-item:nth-child(5):after {
      content: '';
      cursor: pointer;
      background-image: url(7e77313e402d1abd123b.png);
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: 5px;
      transform: translate(0, -40%); }
  .header__menu-item:nth-child(2) {
    padding-right: 24px; }
  .header__menu-item:nth-child(5) {
    padding-right: 28px; }
    .header__menu-item:nth-child(5):after {
      right: 8px; }

.header__menu-link {
  color: rgba(31, 32, 65, 0.5); }
  .header__menu-link:hover {
    text-shadow: 0 0 2px gray;
    transition: 0.4s; }

.header__item-title {
  cursor: pointer; }
  .header__item-title:hover {
    text-shadow: 0 0 2px gray;
    transition: 0.4s; }

.header__item-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }

.header__item-link {
  color: rgba(31, 32, 65, 0.5);
  padding: 10px 5px;
  text-decoration: none;
  display: inline-block; }
  .header__item-link:hover {
    text-shadow: 0 0 2px gray;
    transition: 0.4s; }

.header__authentication-block {
  max-width: 44%;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media (max-width: 850px) {
    .header__authentication-block {
      flex-direction: column;
      height: 28.5%;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      padding: 0;
      max-width: 100%; } }

.header__button-login {
  width: 83px;
  height: 30px;
  z-index: 1; }
  @media (max-width: 850px) {
    .header__button-login {
      width: 100%;
      opacity: 0; } }

.header__button-register {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 22px;
  width: 196px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #ffffff; }
  @media (max-width: 850px) {
    .header__button-register {
      width: 100%;
      background: #FFFFFF;
      color: rgba(31, 32, 65, 0.5);
      opacity: 0; } }

.header__menu-burger {
  display: none;
  cursor: pointer; }
  @media (max-width: 850px) {
    .header__menu-burger {
      display: flex;
      flex-direction: column; } }

.header__menu-burger div {
  width: 25px;
  height: 3px;
  background: #BC9CFF;
  margin: 3px;
  transition: all .4s ease; }

.toggle .header__menu-burger-line_1 {
  transform: rotate(-45deg) translate(-5px, 7.5px); }

.toggle .header__menu-burger-line_2 {
  opacity: 0; }

.toggle .header__menu-burger-line_3 {
  transform: rotate(45deg) translate(-5px, -7.5px); }

.header__menu-active {
  transform: translateX(0%); }

@keyframes menuItemFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.input-field__input {
  width: 320px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px; }
  @media (max-width: 340px) {
    .input-field__input {
      width: 310px; } }
  .input-field__input::placeholder {
    color: rgba(31, 32, 65, 0.25); }
  .input-field__input:hover, .input-field__input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.radio-button {
  display: flex;
  cursor: pointer;
  height: 20px;
  align-items: center; }

.radio-button__input {
  display: none; }
  .radio-button__input:checked + .radio-button__img {
    border-color: #BC9CFF; }
  .radio-button__input:checked + .radio-button__img:after {
    transform: scale(1); }
  .radio-button__input:checked ~ .radio-button__text {
    color: #1F2041; }

.radio-button__img {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  padding: 3px; }
  .radio-button__img:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50%;
    transform: scale(0);
    transition: transform .15s ease; }

.radio-button__text {
  color: rgba(31, 32, 65, 0.5);
  padding-left: 10px; }

.radio-buttons__buttons {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }

.input-masked {
  width: 320px;
  height: 64px; }
  @media (max-width: 340px) {
    .input-masked {
      width: 310px; } }

.input-masked__title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #1F2041;
  text-transform: uppercase;
  padding-bottom: 5px; }

.input-field__input {
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 320px; }
  @media (max-width: 340px) {
    .input-field__input {
      width: 310px; } }
  .input-field__input::placeholder {
    letter-spacing: 0; }

.toggle {
  display: flex;
  cursor: pointer; }

.toggle__input {
  position: absolute;
  appearance: none; }

.toggle__img {
  height: 20px;
  width: 40px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 2px;
  background-color: #fff;
  position: relative;
  transition: all .4s ease 0s; }
  .toggle__img:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    transition: all .4s ease 0s; }

.toggle__text {
  padding-top: 2px;
  width: 210px;
  line-height: 18px; }

.toggle__input:checked + .toggle__img {
  border-color: #BC9CFF; }
  .toggle__input:checked + .toggle__img:after {
    background: #BC9CFF;
    left: 23px; }

.button-size-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 44px;
  border-radius: 22px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: 400;
  position: relative;
  cursor: pointer; }
  @media (max-width: 340px) {
    .button-size-large {
      width: 310px; } }
  .button-size-large:after {
    content: '';
    position: absolute;
    background-image: url(d4701dff7a6e939030dc.svg);
    width: 17px;
    height: 17px;
    top: 50%;
    right: 0;
    transform: translate(-75%, -50%); }

.button-transparent {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid transparent;
  background-color: #ffffff;
  height: 40px;
  width: 95px; }
  .button-transparent:before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 24px;
    z-index: -1;
    transition: opacity .3s ease-in 0s; }
  .button-transparent:hover:before {
    opacity: .5; }
  .button-transparent_size_small {
    height: 30px;
    width: 83px; }
    @media (max-width: 850px) {
      .button-transparent_size_small:before {
        content: none; } }
    @media (max-width: 850px) {
      .button-transparent_size_small {
        color: rgba(31, 32, 65, 0.5);
        width: 100%; } }

.account-registration {
  width: 380px;
  height: 646px;
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  @media (max-width: 340px) {
    .account-registration {
      width: 340px;
      padding: 35px 10px;
      align-items: center; } }

.account-registration__title {
  padding-top: 2px; }

.account-registration__name {
  margin-top: 23px; }

.account-registration__surname,
.account-registration__password {
  margin-top: 10px; }

.account-registration__date-of-birth,
.account-registration__payment-button {
  margin-top: 24px; }

.account-registration__login-details {
  margin-top: 20px; }

.account-registration__login-details-title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #1F2041;
  text-transform: uppercase;
  padding-bottom: 5px; }

.account-registration__toggle-special-offers {
  margin-top: 8px; }

.account-registration__log-in {
  height: 44px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between; }

.account-registration__log-in-text {
  display: flex;
  align-items: center;
  user-select: none; }

.account-registration__log-in-button {
  margin-top: 2px;
  position: relative;
  z-index: 6; }

.input-field__input {
  width: 320px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px; }
  @media (max-width: 340px) {
    .input-field__input {
      width: 310px; } }
  .input-field__input::placeholder {
    color: rgba(31, 32, 65, 0.25); }
  .input-field__input:hover, .input-field__input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.button-size-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 44px;
  border-radius: 22px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: 400;
  position: relative;
  cursor: pointer; }
  @media (max-width: 340px) {
    .button-size-large {
      width: 310px; } }
  .button-size-large:after {
    content: '';
    position: absolute;
    background-image: url(d4701dff7a6e939030dc.svg);
    width: 17px;
    height: 17px;
    top: 50%;
    right: 0;
    transform: translate(-75%, -50%); }

.button-transparent {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid transparent;
  background-color: #ffffff;
  height: 40px;
  width: 95px; }
  .button-transparent:before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 24px;
    z-index: -1;
    transition: opacity .3s ease-in 0s; }
  .button-transparent:hover:before {
    opacity: .5; }
  .button-transparent_size_small {
    height: 30px;
    width: 83px; }
    @media (max-width: 850px) {
      .button-transparent_size_small:before {
        content: none; } }
    @media (max-width: 850px) {
      .button-transparent_size_small {
        color: rgba(31, 32, 65, 0.5);
        width: 100%; } }

.account-login {
  width: 380px;
  height: 358px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 35px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  @media (max-width: 340px) {
    .account-login {
      width: 340px;
      padding: 35px 10px;
      align-items: center; } }

.account-login__form {
  margin-top: 21px; }

.account-login__password {
  margin: 10px 0 20px 0; }

.account-login__login-creation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  height: 44px; }
  @media (max-width: 340px) {
    .account-login__login-creation {
      width: 100%;
      padding: 0 10px; } }

.account-login__login-creation-text {
  display: flex;
  align-items: center; }

.account--login__login-creation-button {
  margin-top: 2px;
  position: relative;
  z-index: 6; }

.logo-block {
  display: flex;
  height: 100%;
  width: 105px;
  align-items: center;
  justify-content: space-between; }

.logo-block__title {
  padding-bottom: 2px; }

.social-networks-block {
  display: flex;
  align-items: center; }

.social-networks-block__item {
  margin-left: 20px;
  height: 24px;
  width: 24px; }

.copyright {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75); }

.subscription-field__input-container {
  height: 44px;
  width: 266px;
  position: relative; }

.subscription-field__input {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  position: relative; }
  .subscription-field__input::placeholder {
    color: rgba(31, 32, 65, 0.25);
    letter-spacing: 0;
    transform: translate(-2px, -1px); }
  .subscription-field__input:hover, .subscription-field__input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.subscription-field__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  background-color: transparent;
  cursor: pointer; }

.subscription-field__button-img {
  width: 18px;
  height: 18px; }

.footer {
  width: 100%;
  height: 443px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .footer {
      align-items: center;
      padding-top: 120px;
      padding-bottom: 120px;
      height: content-box; } }

.footer-top {
  display: flex;
  width: 80.56%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 92px 0 97px; }
  @media (max-width: 1430px) {
    .footer-top {
      width: 90%; } }
  @media (max-width: 1050px) {
    .footer-top {
      width: 95%; } }
  @media (max-width: 768px) {
    .footer-top {
      padding: 0; } }

.footer-top__description {
  flex: 0 0 25.86%;
  padding: 0 40px 0 0; }
  @media (max-width: 1050px) {
    .footer-top__description {
      padding-right: 10px; } }
  @media (max-width: 768px) {
    .footer-top__description {
      padding: 0;
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 13px; } }

.footer-top__description-text {
  padding-top: 10px; }
  @media (max-width: 768px) {
    .footer-top__description-text {
      display: none; } }

.footer-top__menu {
  display: flex;
  flex: 0 0 51.73%;
  padding-top: 4px; }
  @media (max-width: 1320px) {
    .footer-top__menu {
      flex: 0 0 46.73%; } }
  @media (max-width: 768px) {
    .footer-top__menu {
      display: none; } }

.footer-top__menu-section {
  flex: 0 0 33.33%;
  padding-right: 20px; }
  @media (max-width: 1050px) {
    .footer-top__menu-section {
      padding-right: 10px; } }

.footer-top__menu-item {
  padding: 15px 0 0;
  color: rgba(31, 32, 65, 0.5); }
  @media (max-width: 1320px) {
    .footer-top__menu-item {
      padding: 10px 0 0; } }

.footer-top__menu-link {
  color: rgba(31, 32, 65, 0.5); }

.footer-top__menu-title,
.footer-top__subscription-title {
  line-height: 17px;
  text-transform: uppercase; }

.footer-top__subscription {
  padding-top: 3px;
  flex: 0 0 22.41%; }
  @media (max-width: 1320px) {
    .footer-top__subscription {
      flex: 0 0 27.41%; } }
  @media (max-width: 768px) {
    .footer-top__subscription {
      display: none; } }

.footer-top__subscription-text {
  padding: 17px 0 23px;
  width: 97%; }
  @media (max-width: 1320px) {
    .footer-top__subscription-text {
      width: 90%; } }

.footer-top__subscription-form {
  display: flex;
  width: 97%;
  position: relative; }
  @media (max-width: 1050px) {
    .footer-top__subscription-form > div {
      width: 100%; } }

.footer-line {
  width: 100vw;
  height: 1px;
  background-color: #E5E5E5; }
  @media (max-width: 768px) {
    .footer-line {
      display: none; } }

.footer-bottom {
  width: 80.56%;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .footer-bottom {
      flex-direction: column;
      justify-content: center;
      height: 67px;
      width: 99%; } }
  @media (max-width: 768px) {
    .footer-bottom > div:first-child {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      text-align: center; } }
  @media (max-width: 380px) {
    .footer-bottom > div:first-child {
      width: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px; } }

.sign-up {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .sign-up__content {
    height: 754px;
    position: relative;
    width: 100%;
    overflow: hidden; }
    @media (min-width: 1441px) {
      .sign-up__content {
        height: 950px; } }
  .sign-up__header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    max-height: 7vh;
    min-height: 40px;
    z-index: 500; }
  .sign-up__background {
    width: 100%;
    height: 100%; }
  .sign-up__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 10px; }
  .sign-up__card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    z-index: 50;
    transform: translate(-50%, -50%);
    margin-top: 35px; }
    @media (max-width: 1026px) {
      .sign-up__card {
        margin-top: 30px;
        transform: translate(-50%, -50%); } }
    @media (max-width: 850px) {
      .sign-up__card {
        margin-top: 3vh; } }
    @media (max-width: 340px) {
      .sign-up__card {
        width: 340px; } }
  .sign-up__footer {
    padding-top: 8px;
    width: 100%; }
  .sign-up .swiper {
    width: 100%;
    height: 100%; }
  .sign-up .swiper-wrapper {
    width: 100%;
    height: 100%; }
  .sign-up .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative; }

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/swiper/swiper.min.css ***!
  \**************************************************************************************/
/**
 * Swiper 7.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 27, 2021
 */

@font-face{font-family:swiper-icons;src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-pointer-events{touch-action:pan-y}.swiper-pointer-events.swiper-vertical{touch-action:pan-x}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-autoheight,.swiper-autoheight .swiper-slide{height:auto}.swiper-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-3d,.swiper-3d.swiper-css-mode .swiper-wrapper{perspective:1200px}.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top,.swiper-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-3d .swiper-slide-shadow{background:rgba(0,0,0,.15)}.swiper-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-horizontal.swiper-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-vertical.swiper-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}.swiper-centered>.swiper-wrapper::before{content:'';flex-shrink:0;order:9999}.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child{margin-inline-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-horizontal>.swiper-wrapper::before{height:100%;min-height:1px;width:var(--swiper-centered-offset-after)}.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child{margin-block-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-vertical>.swiper-wrapper::before{width:100%;min-width:1px;height:var(--swiper-centered-offset-after)}.swiper-centered>.swiper-wrapper>.swiper-slide{scroll-snap-align:center center}
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/swiper/modules/effect-fade/effect-fade.min.css ***!
  \***************************************************************************************************************/
.swiper-fade.swiper-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-fade .swiper-slide-active,.swiper-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}
/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/swiper/modules/autoplay/autoplay.min.css ***!
  \*********************************************************************************************************/

