//when adding class="room-details__line_hidden" mixin to the parameters, bottom line will be hidden

mixin roomDetailsItem(img, alt, title, text)
  .room-details__container
    .room-details__item
      .room-details__img
        img(src=img alt=alt)
      .room-details__info
        .room-details__title=title
        .room-details__text=text
    .room-details__line&attributes(attributes)