/* -------------------------------------------------
    Datepicker buttons
   ------------------------------------------------- */

.air-datepicker-buttons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  background: #FFFFFF;
}

.air-datepicker-button {
  display: inline-flex;
  color: var(--adp-btn-color);
  border-radius: var(--adp-btn-border-radius);
  cursor: pointer;
  height: var(--adp-btn-height);
  border: none;
  background: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  span {
    outline: none;
    display: flex;
    padding-top: 12px;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
}
.apply-button-custom{
  span{
    justify-content: flex-end;
  }
}
