@import '../../form-elements/date-dropdown/date-dropdown';
@import '../../form-elements/dropdown/dropdown';
@import '../../form-elements/button-size-large/button-size-large';

.room-reservation{
  width: 380px;
  height: 512px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media (max-width: 340px) {
    padding: 20px 10px;
    height: 458px;
    width: 340px;
  }
}
.room-reservation__info{
  display: flex;
  justify-content: space-between;
  @media (max-width: 340px) {
    width: 310px;
    margin: 0 auto;
  }
}
.room-reservation__title{
  display: flex;
}
.room-reservation__number{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $darkShade100;
  padding: 10px 4px 0 0;
}
.room-reservation__number-room{
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: $darkShade100;
}
.room-reservation__name{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  padding: 12px 0 0 7px;
}
.room-reservation__price{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color:$darkShade50;
  padding: 10px 0 0 0;
}
.room-reservation__day{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color:$darkShade50;
  padding-left: 2px;
}
.room-reservation__date{
  margin-top: 22px;
}
.room-reservation__quests{
  margin-top: 20px;
}
.room-reservation__calculations{
  margin-top: 18px;
}
.room-reservation__string{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  @media (max-width: 340px) {
    width: 310px;
    margin: 0 auto;
  }
}
.room-reservation__item{
  display: flex;
}
.room-reservation__item-text{
  width: 214px;
  font-size: 14px;
  line-height: 18px;
  color: $darkShade75;
  padding-top: 3px;
}
.room-reservation__amount{
  border-bottom: 5px;
}
.room-reservation__discount{
  padding-bottom: 6px;
}
a.room-reservation__icon-info-link{
  margin-left: 6px;
}
.room-reservation__icon-info-img{
}
.room-reservation__total{
  display: flex;
  margin-top: 20px;
  @media (max-width: 340px) {
    width: 310px;
    margin: 0 auto;
  }
}
.room-reservation__total-title,
.room-reservation__total-amount{
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: $darkShade100;
}
.room-reservation__total-line{
  width: 182px;
  height: 1px;
  border-bottom: 1px dotted $darkShade25;
  padding-top: 18px;
  margin-left: 5px;
}
.room-reservation__total-amount{}
.room-reservation__total-amount_end{
  padding-left: 5px;
}
.room-reservation__reservation-button{
  margin-top: 21px;
  @media (max-width: 340px) {
    width: 310px;
    margin: 15px auto 0 auto;
  }
}