mixin socialNetworksBlock
  .social-networks-block
    .social-networks-block__item
      a.social-networks-block__link(href="/mock-address/change-me")
        img.social-networks-block__img(src="./assets/img/twitter-icon.svg" alt="twitter")
    .social-networks-block__item
      a.social-networks-block__link(href="/mock-address/change-me")
        img.social-networks-block__img(src="./assets/img/facebook-icon.svg" alt="facebook")
    .social-networks-block__item
      a.social-networks-block__link(href="/mock-address/change-me")
        img.social-networks-block__img(src="./assets/img/instagram-icon.svg" alt="instagram")