mixin filterDateDropdown(title, data1, data2)
  .filter-date-dropdown.container-input-field_middle
    h3.filter-date-dropdown__title=title
    input.filter-date-dropdown__input(placeholder=`${data1} - ${data2}`)
    img.filter-date-dropdown__input-check(src="./././assets/img/check.png" alt="select trigger")