mixin dateDropdown(title1, title2, data1, data2 )
  .date-dropdown
    .date-dropdown__wrap
      h3.date-dropdown__title=title1
      input.date-dropdown__input(placeholder=data1)
      .date-dropdown__input-check-container
        img.date-dropdown__input-check(src="./assets/img/check.png")
    .date-dropdown__wrap
      h3.date-dropdown__title=title2
      input.date-dropdown__input(placeholder=data2)
      .date-dropdown__input-check-container
        img.date-dropdown__input-check(src="./././assets/img/check.png")