@import 'variables';
.form-button{
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    top: 50%;
    right: 0;
    transform: translate(-70%, -50%);
    background-image: url('../assets/img/arrow-forward-white.svg');
  }
}
.cards{
  padding: 150px 140px 140px;
}
.room-search-form{
  width: 380px;
  height: 374px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px;
}
.room-search-form__title{
  line-height: 29.26px;
  padding-bottom: 22px;
}
.room-search-form__body{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.room-search-form__date-range{
  display: flex;
  justify-content: space-between;
}
.room-search-form__input-wrap{
  position: relative;
  &:after {
    content: '';
    background-image: url('../assets/img/check.png');
    position: absolute;
    width: 12px;
    height: 8px;
    top: 50%;
    right: 15px;
    transform: translate(0, -40%)
  }
}
.room-search-form__arrival {

}
.room-search-form__arrival-title,
.room-search-form__departure-title{
  padding-bottom: 5px;
}
.room-search-form__arrival-input,
.room-search-form__departure-input,
.room-search-form__guests-input{
  padding-left: 15px;
  &::placeholder {
    color: $darkShade75;
    font-size: 14px;
    line-height: 18px;
  }
}
.room-search-form__departure{

}
.room-search-form__departure-title{

}
.room-search-form__departure-input{

}
.room-search-form__guests{

}
.room-search-form__guests-title{
  padding: 20px 0 5px;
}
.room-search-form__guests-input{

}
.room-search-form__search-button{
  margin-top: 31px;
}