@import 'variables';
.form-elements{
  display: flex;
  padding: 143px 141px 131px;
  &>div>div{
    margin-top: 20px;
  }
}
.form-elements__column-one{
  padding-right: 126px;
}
// inputField
.input-field{
}
.input-field__title{
}
.input-field__input,
.subscription-field__input{
  &::placeholder{
    color:$darkShade25;
  }
  &:hover,&:focus{
    border: 1px solid $darkShade50;
  }
}
// dropdown
.dropdown__title{
}
.dropdown__input{
  &::placeholder{
    letter-spacing: 0;
  }
}
// inputMaskedField
.input-field__input{
  &::placeholder{
    letter-spacing: 0;
  }
}

.date-dropdown{
  display: flex;
  justify-content: space-between;
}
.filter-date-dropdown__input{
  &::placeholder{
    letter-spacing: 0.1px;
  }
}
.subscription-field__button{
  height: 100%;
  width: 44px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

// dropdownSelect
.dropdown-select__select{
  position: relative;
}
.dropdown-select__trigger,
.expandable-checkbox-list__trigger{
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.dropdown-container{
  width: 266px;
  height: 118px;
  padding-left: 14px;
  padding-right: 7px;
}
.dropdown-select__dropdown{
  display: none;
  background-color: #ffffff;
  border: 1px solid $darkShade25;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
.dropdown-select__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
.quantity-change-block{
  display: flex;
  justify-content: space-between;
  width: 92px;
  user-select: none;
}
.button-minus,
.button-plus{
  height: 30px;
  width: 30px;
  border: 1px solid $darkShade50;
  border-radius: 50%;
  background-color: transparent;
  font-size: 18px;
  color: $darkShade50;
  cursor: pointer;
}
.limit{
  border-color: $darkShade25;
  color: $darkShade25;
}
.quantity{
  width: 32px;
  text-align: center;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $darkShade100;
  outline: none;
}
//expandableCheckboxList

.expandable-checkbox-list{
  position: relative;
  width: 266px;
  height: 44px;
}
.expandable-checkbox-list__title{
  height: 100%;
  padding-top: 14px;
}
.expandable-checkbox-list__dropdown{
  display: none;
}
.checkbox-buttons__checkbox-item,
.expandable-checkbox-list__item{
  padding-top: 6px;
  padding-bottom: 2px;
  &:first-child{
    padding-top: 1px;
  }
}
.active-trigger{
  transform: rotate(-180deg);
  transition: transform 0.4s ease;
}
.active2-trigger{
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}
//checkboxButton
.checkbox{
  display: flex;
}
.checkbox__input{
  position: absolute;
  appearance: none;
}
.checkbox__img{
  height: 20px;
  width: 20px;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 2px;
}
.checkbox__text{
  padding-top: 2px;
  width: 192px;
  line-height: 18px;
}
.checkbox__input:checked + .checkbox__img{
  border-color: $purple;
  background-image: url('../assets/img/checkbox-check.svg');
  background-repeat: no-repeat;
  background-size: 10px, 10px;
  background-position: 50% 40%;
}
//checkbox-buttons
.checkbox-buttons__button{
}
.checkbox-buttons__checkbox-list{
  padding-top: 10px;
}

