@import 'variables';
.form-elements{
  display: flex;
  padding: 143px 141px 131px;
  &>div>div{
    margin-top: 20px;
  }
}
.form-elements__column-one{
  padding-right: 126px;
}
// inputField
.input-field{
}
.input-field__title{
}
.input-field__input,
.subscription-field__input{
  &::placeholder{
    color:$darkShade25;
  }
  &:hover,&:focus{
    border: 1px solid $darkShade50;
  }
}
// dropdown
.dropdown__title{
}
.dropdown__input{
  &::placeholder{
    letter-spacing: 0;
  }
}
// inputMaskedField
.input-field__input{
  &::placeholder{
    letter-spacing: 0;
  }
}

.date-dropdown{
  display: flex;
  justify-content: space-between;
}
.filter-date-dropdown__input{
  &::placeholder{
    letter-spacing: 0.1px;
  }
}
.subscription-field__button{
  height: 100%;
  width: 44px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

// dropdownSelect
.dropdown-select{
  position: relative;
  z-index: 100;
}
.dropdown-select__select,
.dropdown-quests__select{
  position: relative;
}
.dropdown-select__trigger,
.dropdown-quests__trigger,
.expandable-checkbox-list__trigger{
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.dropdown-container{
  width: 266px;
  height: 118px;
  padding-left: 14px;
  padding-right: 7px;
}
.dropdown-quests-container{
  width: 320px;
  height: 159px;
  padding-left: 14px;
  padding-right: 6px;
}
.dropdown-select__dropdown,
.dropdown-quests__dropdown{
  display: none;
  background-color: #ffffff;
  border: 1px solid $darkShade25;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
.dropdown-select__item,
.dropdown-quests__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
.quantity-change-block{
  display: flex;
  justify-content: space-between;
  width: 92px;
  user-select: none;
}
.button-minus,
.button-plus{
  height: 30px;
  width: 30px;
  border: 1px solid $darkShade50;
  border-radius: 50%;
  background-color: transparent;
  font-size: 18px;
  color: $darkShade50;
  cursor: pointer;
}
.limit{
  border-color: $darkShade25;
  color: $darkShade25;
}
.quantity{
  width: 32px;
  text-align: center;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $darkShade100;
  outline: none;
}
//expandableCheckboxList

.expandable-checkbox-list{
  position: relative;
  z-index: 99;
  width: 266px;
  height: 44px;
}
.expandable-checkbox-list__title{
  height: 100%;
  padding-top: 14px;
}
.expandable-checkbox-list__dropdown{
  display: none;
}
.checkbox-buttons__checkbox-item,
.expandable-checkbox-list__item{
  padding-top: 6px;
  padding-bottom: 2px;
  &:first-child{
    padding-top: 1px;
  }
}
.active-trigger{
  transform: rotate(-180deg);
  transition: transform 0.4s ease;
}
.active2-trigger{
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}
//checkboxButton
.checkbox{
  display: flex;
}
.checkbox__input{
  position: absolute;
  appearance: none;
}
.checkbox__img{
  height: 20px;
  width: 20px;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 2px;
}
.checkbox__text{
  padding-top: 2px;
  width: 210px;
  line-height: 18px;
  color: $darkShade50;
}
.checkbox__input:checked + .checkbox__img{
  border-color: $purple;
  background-image: url('../assets/img/checkbox-check.svg');
  background-repeat: no-repeat;
  background-size: 10px, 10px;
  background-position: 50% 40%;
}
//checkbox-buttons
.checkbox-buttons__button{
}
.checkbox-buttons__checkbox-list{
  padding-top: 10px;
}

//radioButton
.radio-button{
  display: flex;
  cursor: pointer;
  height: 20px;
  align-items: center;
}
.radio-button__input{
  display: none;
  &:checked + .radio-button__img:after{
    transform: scale(1);
  }
  &:checked ~ .radio-button__text{
    color: $darkShade100;
  }
}
.radio-button__img{
  margin-top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid $purple;
  border-radius: 50%;
  padding: 3px;
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50%;
    transform: scale(0);
    transition: transform .15s ease;
  }
}
.radio-button__text{
  color: $darkShade50;
  padding-left: 10px;
}

//radioButtons
.radio-buttons__buttons{
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
//toggle
.toggle{
  display: flex;
  cursor: pointer;
}
.toggle__input{
  position: absolute;
  appearance: none;
}
.toggle__img{
  height: 20px;
  width: 40px;
  border: 1px solid $darkShade25;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 2px;
  background-color: #fff;
  position: relative;
  transition: all .4s ease 0s;
  &:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: $darkShade25;
    border-radius: 50%;
    transition: all .4s ease 0s;
  }
}
.toggle__text{
  padding-top: 2px;
  width: 210px;
  line-height: 18px;
}
.toggle__input:checked + .toggle__img{
  border-color: $purple;
  &:after{
    background: $purple;
    left: 23px;
  }
}
.toggle__item{
  padding-top: 9px;
}
//likeButton
.button-like{
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    height: 8px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
    background-image: url('../assets/img/like-img.svg');
  }
}
.button-like__img{
  height: 10px;
  width: 10px;
  background-image: url('../assets/img/like-img.svg');
}
.button-like__count{
  display: flex;
  width: 10px;
  font-size: 10px;
  color: $darkShade25;
  padding-bottom: 1px;
  margin-left: 15px;
  justify-content: center;
}
.like{
  border-color: $purple;
  color: $purple;
  &:after{
    content: '';
    height: 8px;
    width: 10px;
    position: absolute;
    top: 50% ;
    left: 13% ;
    transform: translateY(-50%);
    background-image: url('../assets/img/like-img-color.svg');
  }
}
//=====
.like-button__container{
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.like-button__buttons{
  display: flex;
  width: 90px;
  justify-content: space-between;
}
//rateButton
.rate{
  display: inline-flex;
  flex-direction: row-reverse;
  &[data-total-value='1'] .rate__item:nth-child(n + 5) > .rate__star,
  &[data-total-value='2'] .rate__item:nth-child(n + 4) > .rate__star,
  &[data-total-value='3'] .rate__item:nth-child(n + 3) > .rate__star,
  &[data-total-value='4'] .rate__item:nth-child(n + 2) > .rate__star,
  &[data-total-value='5'] .rate__item:nth-child(n + 1) > .rate__star{
    opacity: 1;
  }
}
.rate__item{
  position: relative;
  cursor: pointer;
  height: 19px;
  width: 20px;
  margin-right: 4px;
  &:hover > .rate__star, &:hover ~ & .rate__star{
    opacity: 1;
  }
}
.rate__star-border, .rate__star{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.rate__star{
  opacity: 0;
  transition: opacity .3s ease 0s;
}
//====
.rate-button__container{
  padding-top: 20px;
}
.rate-button__rate{
  margin-top: 12px;
  padding-left: 2px;
  width: 261px;
  display: flex;
  justify-content: space-between;
}

//dropdownQuests
.dropdown-quests_buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}
.dropdown-quests_button{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  background-color: transparent;
  cursor: pointer;
}
.dropdown-quests__reset{
  visibility: hidden;
}
//checkboxButtonWithDescription
.checkbox__title{
  font-weight: 700;
}
.rich-checkbox-buttons__checkbox-item{
  margin-top: 8px;
}
.checkbox__description{
  font-size: 12px;
  line-height: 14px;
  color: $darkShade50;
  width: 230px;
  padding-top: 3px;
}
.rich-checkbox-buttons__checkbox-item:first-child > label > div >.checkbox__description{
  width: 200px;
}

//rangeSlider
.range-slider{
  width: 266px;
  height: 48px;
}
.range-slider__top{
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  .title-form{
    padding-bottom: 0;
  }
}
.range-slider__values{
  height: 100%;
  display: flex;
}
.range-slider__value,
.range-slider__rub,
.range-slider__dash{
  font-size: 12px;
  line-height: 15px;
  color: $darkShade50;
  text-align: center;
}
.range-slider__dash{
  padding: 0 3px 2px;
}
.range-slider__slider{
  position: relative;
  width: 100%;
  input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
  }
}
.range-slider__container {
  position: relative;
  z-index: 1;
  height: 6px;
}
.range-slider__container > .range-slider__track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid $darkShade25;
  border-radius: 3px;
  background-color: #ffffff;
}
.range-slider__container > .range-slider__range {
  position: absolute;
  z-index: 2;
  left: 34%;
  right: 39.5%;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}
.range-slider__container > .range-slider__thumb {
  position: absolute;
  z-index: 3;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  margin-left: 14px;
  margin-right: 14px;
}
.range-slider__container > .range-slider__thumb_left {
  left: 34%;
  transform: translate(-15px, -5px);
}
.range-slider__container > .range-slider__thumb_right {
  right: 39.5%;
  transform: translate(15px, -5px);
}

