@import 'variables';
.header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 80.56%;
  margin: 0 auto 40px;
  align-items: center;
}
.logo-block{
  display: flex;
  height: 100%;
  width: 105px;
  align-items: center;
  justify-content: space-between;
}
.social-networks-block{
  display: flex;
  align-items: center;
}
.social-networks-block__item{
  margin-left: 20px;
  height: 24px;
  width: 24px;
}
.copyright{
  font-size: 14px;
  line-height: 17px;
  color: $darkShade75;
}
.header__menu{
  display: flex;
  width: 85%;
  justify-content: flex-end;
}
.header__menu-list{
  font-size: 14px;
  line-height: 17px;
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  color: $darkShade50;
}
.header__menu-item{
  &:first-child{
    color:$darkShade75;
    font-weight: 700;
}
  &:nth-child(2),&:nth-child(5) {
    position: relative;
    &:after {
      content: '';
      background-image: url('../assets/img/check.png');
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: 6px;
      transform: translate(0, -40%)
    }
  }
  &:nth-child(2){
    padding-right: 24px;
  }
  &:nth-child(5){
    padding-right: 28px;
  }
}
.header__menu-link{
}
.header__authentication-block{
  max-width: 44%;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__button-login{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  width: 83px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $purple;
  border-radius: 18px;
  background: #ffffff;
  &:before{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    z-index: -1;
  }
}
.header__button-register{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 22px;
  width: 196px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #ffffff;
}
.header__profile{
  padding-left: 21px;
  font-size: 14px;
  font-weight: 400;
  color: $darkShade50;
  position: relative;
  &:before{
    content: '';
    height: 30px;
    width: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color:$darkShade10;
  }
}
.footer{
  height: 443px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.footer-top{
  display: flex;
  width: 80.56%;
  margin: 0 auto;
  padding: 100px 0 94px;
}
.footer-top__description{
  flex: 0 0 25.86%;
  padding: 0 40px 0 0;
}
.footer-top__description-text{
  padding-top: 10px;
}
.footer-top__menu{
  display: flex;
  flex: 0 0 51.73%;
  padding-top: 4px;
}
.footer-top__menu-section{
  flex: 0 0 33.33%;
  padding-right: 20px;
}
.footer-top__menu-item{
  padding: 15px 0 0;
  color:$darkShade50;
}
.footer-top__menu-title,
.footer-top__subscription-title{
  line-height: 17px;
  text-transform: uppercase;
}
.footer-top__subscription{
  padding-top: 3px;
  flex: 0 0 22.41%;
}
.footer-top__subscription-text{
  padding: 17px 0 23px;
}
.footer-top__subscription-form{
  display: flex;
  width: 100%;
  position: relative;
}
.footer-top__subscription-input{
  width: 100%;
  height: 44px;
  padding-left: 15px;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  outline-color: $purple;
  &::placeholder {
    color: $darkShade25;
    font-size: 14px;
  }
}
.footer-top__subscription-button{
  height: 100%;
  width: 44px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}
.footer-line{
  width: 100vw;
  height: 1px;
  background-color: #E5E5E5;
}
.footer-bottom{
  width: 80.56%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-mobile{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-mobile__copyright{
  padding-top: 10px;
  padding-bottom: 23px;
}
.footer-mobile__social-networks{
  padding-right: 20px;
}
