@import 'variables';
@import 'fonts';
@import '../pages/form-elements/form-elements';
//@import 'headers-and-footers';
//@import 'cards';

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul li{
  list-style: none;
}
a, a:visited, a:hover {
  text-decoration: none;
}
h1, h2, h3 {
  font-weight: 700;
  color: $darkShade100;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 12px;
  line-height: 15px;
}
body{
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
}
input,button,textarea {
  font-family:inherit;
}
//.container-input-field{
//  width: 320px;
//  height: 64px;
//}
//.container-input-field_middle{
//  width: 266px;
//  height: 64px;
//}
//.title-form{
//  font-size: 12px;
//  line-height: 15px;
//  font-weight: 700;
//  color: $darkShade100;
//  text-transform: uppercase;
//  padding-bottom: 5px;
//}
//.short-input,
//.long-input,
//.middle-input,
//.middle-select,
//.long-select{
//  height: 44px;
//  border-radius: 4px;
//  border: 1px solid $darkShade25;
//  padding-left: 15px;
//  background-color: #ffffff;
//  outline: none;
//  font-size: 14px;
//  line-height: 24px;
//  letter-spacing: 0.5px;
//}
//.long-input{
//  width: 320px;
//}
//.short-input{
//  width: 150px;
//}
//.middle-input{
//  width: 266px;
//}
//.middle-select,
//.long-select{
//  letter-spacing: 0;
//  color: $darkShade75;
//}
//.middle-select{
//  width: 266px;
//  border-radius: 4px 4px 0 0;
//}
//.long-select{
//  width: 320px;
//  border-radius: 4px;
//}
//.input-wrap,
//.expandable-checkbox-list-wrap{
//  position: relative;
//  &:after {
//    content: '';
//    background-image: url('../assets/img/check.png');
//    position: absolute;
//    width: 12px;
//    height: 8px;
//    top: 50%;
//    right: 16px;
//    transform: translate(0, -55%);
//    cursor: pointer;
//  }
//}
//.expandable-checkbox-list-wrap{
//  &:focus:after{
//    transform: rotate(-90deg);
//  }
//}
//.input-wrap_void{
//  position: relative;
//}