mixin radioButton(text, name, value)
  label.radio-button
    input.radio-button__input(type="radio" name=name value=value)&attributes(attributes)
    .radio-button__img
      //virtual element
    span.radio-button__text=text