.iqdropdown
  p.iqdropdown-selection
  .iqdropdown-menu
    .iqdropdown-menu-option(data-id="item1")
      div
        p.iqdropdown-item
        p.iqdropdown-description A short description
    .iqdropdown-menu-option(data-id="item2")
      div
        p.iqdropdown-item
        p.iqdropdown-description A short description
    .iqdropdown-menu-option(data-id="item1")
      div
        p.iqdropdown-item
        p.iqdropdown-description A short description