.cards
  .room-search-form
    h1.room-search-form__title Найдём номера под ваши пожелания
    form.room-search-form__body
      .room-search-form__date-range
        .room-search-form__arrival
          h3.room-search-form__arrival-title прибытие
          .room-search-form__input-wrap
            input.room-search-form__arrival-input.short-input(placeholder='ДД.ММ.ГГГГ')
        .room-search-form__departure
          h3.room-search-form__departure-title выезд
          .room-search-form__input-wrap
            input.room-search-form__departure-input.short-input(placeholder='ДД.ММ.ГГГГ')
      .room-search-form__guests
        h3.room-search-form__guests-title гости
        .room-search-form__input-wrap
          input.room-search-form__guests-input.long-input(placeholder='Сколько гостей')
      button.room-search-form__search-button.form-button подобрать номер