doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel='apple-touch-icon' sizes='180x180' href='assets/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon/favicon-16x16.png')
    link(rel='manifest' href='assets/favicon/site.webmanifest')
    link(rel='mask-icon' href='assets/favicon/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#2b5797')
    meta(name='theme-color' content='#ffffff')
    title Toxin
  body
    include  ../components/form-elements/filter-date-dropdown/filter-date-dropdown
    include  ../components/form-elements/dropdown/dropdown
    include  ../components/form-elements/range-slider/range-slider
    include  ../components/form-elements/checkbox-buttons/checkbox-buttons
    include  ../components/form-elements/rich-checkbox-buttons/rich-checkbox-buttons
    include  ../components/form-elements/dropdown-selection/dropdown-selection
    include  ../components/form-elements/expandable-checkbox-list/expandable-checkbox-list
    include ../components/cards/room-card/room-card
    include ../components/form-elements/pagination/pagination


    include  ../components/headers-and-footers/header/header
    main.search-room
      .search-room__options.scroll-container
        .search-room__options-viewport
          .search-room__options-content
            .search-room__filter-date
              +filterDateDropdown("даты пребывания в отеле", "19 авг", "23 авг")
            .search-room__dropdown-quests
              +dropdown({text:"гости", value:"3 гостя, 1 младенец", sizeSmall:true})
            .search-room__price-range
              +rangeSlider("диапазон цены","0","15000","100","5000","10000")
              .search-room__price-range-text Стоимость за сутки пребывания в номере
            .search-room__house-rules
              +checkboxButtons("правила дома")
            .search-room__reach
              +richCheckboxButtons("доступность")
            .search-room__room-amenities
              +dropdownSelection("удобства номера")
            .search-room__additional-amenities
              +expandableCheckboxList("дополнительные удобства")
      .search-room__result
        .search-room__filters
          .search-room__filters-container
            img.search-room__filters-img(src="./assets/img/filter-icon.svg" alt="filter-icon")
            .search-room__filters-text Фильтры
        h1.search-room__title Номера, которые мы для вас подобрали
        .search-room__rooms
          .search-room__room
            +roomCard("888","люкс", "9 990₽", "5", "145", "./assets/img/rooms-img/lux-img.jpg",
              "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg",
              "lux-img", "room-img", "lux-img", "room-img")
          .search-room__room
            +roomCard("840","", "9 900₽", "4", "65", "./assets/img/rooms-img/room-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("980","люкс", "8 500₽", "3", "35", "./assets/img/rooms-img/lux2-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("856","", "7 300₽", "5", "19", "./assets/img/rooms-img/room2-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("740","", "6 000₽", "4", "44", "./assets/img/rooms-img/room3-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("982","", "5 800₽", "3", "56", "./assets/img/rooms-img/room4-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("678","", "5 500₽", "5", "45", "./assets/img/rooms-img/room5-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("450","", "5 00₽", "4", "39", "./assets/img/rooms-img/room6-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("350","", "5 000₽", "3", "77", "./assets/img/rooms-img/room7-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("666","", "5 000₽", "5", "25", "./assets/img/rooms-img/room8-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("444","", "5 000₽", "3", "15", "./assets/img/rooms-img/room9-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
          .search-room__room
            +roomCard("352","", "5 000₽", "3", "55", "./assets/img/rooms-img/room10-img.jpg",
              "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
              "room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")
        .search-room__paginator
          +pagination
    .border-bottom-line
    include  ../components/headers-and-footers/footer/footer

