include  ../checkbox-button/checkbox-button

mixin checkboxButtons(title)
  .checkbox-buttons__title=title
  ul.checkbox-buttons__checkbox-list
    li.checkbox-buttons__checkbox-item
      +checkboxButton("Можно курить")(class="checkbox-buttons__button")
    li.checkbox-buttons__checkbox-item
      +checkboxButton("Можно с питомцами")(class="checkbox-buttons__button", checked)
    li.checkbox-buttons__checkbox-item
      +checkboxButton("Можно пригласить гостей (до 10 человек)")(class="checkbox-buttons__button", checked)