@import "../like-button/like-button";

.reviews{
  display: flex;
  flex-direction: column;
}
.reviews__user-profile{
  display: flex;
}
.reviews__user-avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: translateX(-2px);
}
.reviews__user-avatar-img{
  border-radius: 50%;
  box-shadow: 0 6px 9px 0 rgba(0,0,0,0.08);
  max-width: 48px;
  border: 2px solid #FFFFFF;
}
.reviews__user-info{
  display: flex;
  flex-direction: column;
  margin-left: 9px;
}
.reviews__user-name{
  font-weight: 700;
}
.reviews__user-review{
  display: flex;
  margin-top: 9px;
}
.reviews__like-button{
  margin-top: 2px;
  margin-left: 3px;
}
.reviews__user-review-text{
  margin-left: 14px;
}