include ../like-button/like-button

mixin reviews(img, name, data, count, text)
  .reviews
    .reviews__user-profile
      .reviews__user-avatar
        img.reviews__user-avatar-img(src=img alt="user-avatar")
      .reviews__user-info
        .reviews__user-name=name
        .reviews__data=data
    .reviews__user-review
      .reviews__like-button
        +likeButton(count)&attributes(attributes)
      .reviews__user-review-text=text