include  ../../components/headers-and-footers/logo-block/logo-block
include  ../../components/headers-and-footers/social-networks-block/social-networks-block
include  ../../components/headers-and-footers/copyright/copyright
include  ../../components/form-elements/subscription-field/subscription-field

include ../../components/headers-and-footers/header/header
include ../../components/headers-and-footers/header-with-profile/header-with-profile
include ../../components/headers-and-footers/footer/footer
include ../../components/headers-and-footers/footer-mobile/footer-mobile

