mixin subscriptionField
  .subscription-field__input-container
    input.subscription-field__input(placeholder="Email")
    button.subscription-field__button(type="submit")
      img.subscription-field__button-img(src="./././assets/img/arrow-forward.svg" alt="button subscription")