@mixin dropdown-font {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;
}

.dropdown-selection {
  width: 266px;

  &__title {
    font-weight: 700;
    color: $darkShade100;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .iqdropdown {
    height: 44px;
    border-radius: 4px 4px 0 0;
    border-color: $darkShade25;

    .iqdropdown-selection {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $darkShade75;
      padding-bottom: 3.5px;
      &::after {
        background-image: none;
      }
    }

    .iqdropdown-menu {
      box-shadow: none;
      top: 43px;
      border: 1px solid $darkShade50;
      border-top: none;
      border-radius: 0 0 4px 4px;
      padding: 5px 6px 7px 14px;
      width: 266px;
      margin: 0;
      left: -1px;
    }

    .iqdropdown-menu-option {
      justify-content: space-between;
      height: 30px;
      padding: 0;
      margin-bottom: 7px;
      &:last-child{
        margin-bottom: 0;
      }
    }

    .iqdropdown-item {
      @include dropdown-font;
      padding-bottom: 2px;
    }

    .iqdropdown-item-controls{
      width: 92px;
      height: 30px;
      justify-content: space-between;

      button {
        align-items: center;
        border: 1px solid $darkShade50;
        display: flex;
        height: 30px;
        width: 30px;
        padding: 0;
        &:hover{
          background-color: #FFFFFF;
        }
      }

      button.button-decrement,
      button.button-increment{
        border-radius: 50%;
        &.iqdropdown-limit {
          border-color: $darkShade25;
          .icon-decrement::after{
            background: $darkShade25;
          }
          .icon-decrement.icon-increment::after{
            background: $darkShade25;
          }
          .icon-decrement.icon-increment::before{
            background: $darkShade25;
          }
        }
      }

      .counter {
        @include dropdown-font;
        border: none;
        padding: 6px 0 0 0;
      }
    }

    .icon-decrement {
      display: inline-block;
      height: 8px;
      margin: auto;
      min-width: 8px;
      position: relative;
      width: 8px;
      &::after{
        background: $darkShade50;
        width: 4px;
        height: 1.5px;
        top: 4px;
        left: 2px;
      }
    }

    .icon-decrement.icon-increment{

      &::before {
        background: $darkShade50;
        height: 1px;
        top: 3px;
        width: 7px;
        left: 1px;
      }
      &::after{
        background: $darkShade50;
        width: 8px;
        height: 1px;
        top: 3px;
        left: 0;

      }
    }

  }

  .iqdropdown.menu-open {
    border-color: $darkShade50;

    & .iqdropdown-selection::after{
      background-image: none;
    }
  }

}

