mixin dropdownSelection(title)
  .dropdown-selection
    .dropdown-selection__title=title
    .iqdropdown
      p.iqdropdown-selection
        .iqdropdown-menu
          .iqdropdown-menu-option(data-id="bedrooms" data-defaultcount="2" data-mincount="1" data-maxcount="10")
            div
              p.iqdropdown-item спальни
          .iqdropdown-menu-option(data-id="beds" data-defaultcount="2" data-mincount="1" data-maxcount="10")
            div
              p.iqdropdown-item кровати
          .iqdropdown-menu-option(data-id="bathrooms" data-defaultcount="0" data-mincount="0" data-maxcount="10")
            div
              p.iqdropdown-item ванные комнаты
      img.iqdropdown-selection-chech(src="./assets/img/check-black.png" alt="dropdown trigger")