mixin rateButton(value)
  .rate(data-total-value=value)
    .rate__item(data-item-value="5")
      img.rate__star-border(src="./assets/img/rate-star-border.svg" alt="star-border")
      img.rate__star(src="./assets/img/rate-star.svg" alt="star")
    .rate__item(data-item-value="4")
      img.rate__star-border(src="./assets/img/rate-star-border.svg" alt="star-border")
      img.rate__star(src="./assets/img/rate-star.svg" alt="star")
    .rate__item(data-item-value="3")
      img.rate__star-border(src="./assets/img/rate-star-border.svg" alt="star-border")
      img.rate__star(src="./assets/img/rate-star.svg" alt="star")
    .rate__item(data-item-value="2")
      img.rate__star-border(src="./assets/img/rate-star-border.svg" alt="star-border")
      img.rate__star(src="./assets/img/rate-star.svg" alt="star")
    .rate__item(data-item-value="1")
      img.rate__star-border(src="./assets/img/rate-star-border.svg" alt="star-border")
      img.rate__star(src="./assets/img/rate-star.svg" alt="star")