mixin pagination
  .pagination
    .pagination__top-block
      .pagination__button-prev
      ul.pagination__pages
      .pagination__button-next
    .pagination__information-line 1 – 12 из 100+ вариантов аренды


      //button.pagination__return-button
            //.pagination__number-page.active
            //  a.pagination__page-link(href="/mock-address/change-me") 1
            //.pagination__number-page
            //  a.pagination__page-link(href="/mock-address/change-me") 2
            //.pagination__number-page
            //  a.pagination__page-link(href="/mock-address/change-me") 3
            //.pagination__more ...
            //.pagination__number-page
            //  a.pagination__page-link(href="/mock-address/change-me") 15
            //button.pagination__forward-button