.pagination {
  width: 320px;
  padding-right: 15px;

  &__panel {
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
  }
  &__item {
    cursor: pointer;
  }

  &__page-link {
    font-size: 12px;
    color: $darkShade50;
    line-height: 40px;
  }

  &__button_prev,
  &__button_next {
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      background-image: url('../assets/img/arrow-forward-white.svg');
      width: 17px;
      height: 17px;
      top: 50%;
      left: 50%;
    }
  }

  &__button_prev {
    &:before {
      transform: rotate(180deg) translate(50%, 50%);
    }
  }

  &__button_next {
    &:before {
      transform: translate(-50%, -50%);
    }
  }

  &__dots {
    cursor: auto;
  }

  &__dots &__page-link{
    cursor: default;
  }

  &__current-page,
  &__dots {
    width: 40px;
  }

  &__item_active {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    .pagination__page-link{
      color: #FFFFFF;
    }
  }

  &__item_disable {
    display: none;
    //opacity: 0;
    //cursor: auto;
    //transition: all .3s ease;
  }
  &__information-line {
    margin-top: 8px;
    text-align: center;
  }
}
