.pagination{
  display: flex;
  flex-direction: column;
  width: 241px;
}
.pagination__top-block{
  display: flex;
  height: 40px;
  width: 100%;
}
.pagination__return-button,
.pagination__forward-button{
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  position: relative;
}
.pagination__return-button:before,
.pagination__forward-button:before{
  content: '';
  position: absolute;
  background-image: url('../assets/img/arrow-forward-white.svg');
  width: 17px;
  height: 17px;
  top: 50%;
  left: 50%;
}
.pagination__return-button{
  display: none;
  &:before{
    transform: rotate(180deg) translate(50%,50%);
  }
}
.pagination__forward-button{
  &:before{
    transform:translate(-50%,-50%);
  }
}
.pagination__number-page,
.pagination__more{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: $darkShade50;
}
.pagination__page-link{
  color: $darkShade50;
}
.active{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  & a{
    color:#ffffff
  }
}
.pagination__information-line{
  margin-top: 8px;
  margin-left: 5px;
  color: $darkShade75;
}