include  ../../../components/headers-and-footers/header/header
main.page-room-details
  .page-room-details__photos-container
    .page-room-details__photo_main
      img.page-room-details__photo(src="./assets/img/room-details-main.jpg" alt="room-details-main")
    .page-room-details__photos
      .page-room-details__photo_secondary
        img.page-room-details__photo(src="./assets/img/room-details-1.jpg" alt="room-details-1")
      .page-room-details__photo_secondary
        img.page-room-details__photo(src="./assets/img/room-details-2.jpg" alt="room-details-2")
include  ../../../components/headers-and-footers/footer/footer