@import '../../../components/headers-and-footers/header/header';
@import '../../../components/form-elements/room-details-item/room-details-item';
@import '../../../components/form-elements/reviews/reviews';
@import '../../../components/form-elements/bullet-list/bullet-list';
@import '../../../components/cards/room-reservation/room-reservation';
@import '../../../components/headers-and-footers/footer/footer';

.page-room-details{
  display: flex;
  flex-direction: column;
  width: 100%;

  h2{
    letter-spacing: 0.6px;
  }

  &__photos-container{
    display: flex;
    justify-content: space-between;
    max-height: 485px;
    width: 100%;
  }

  &__photo_main{
    flex: 1 1 68%;
    overflow: hidden;
  }

  &__photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__photos{
    display: flex;
    flex-direction: column;
    flex: 1 1 32%;
    overflow: hidden;
  }

  &__photo_secondary{
    height: 50%;
  }

  &__info{
    width: 80.6%;
    max-width: 1200px;
    margin: 70px auto 64px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1430px) {
      width: 90%;
    }
    @media (max-width: 1026px) {
      width: 97%;
    }
    @media (max-width: 950px) {
      flex-direction: column-reverse;
      margin-top: 20px;
    }
    @media (max-width: 850px) {
      width: 90%;
    }
  }

  &__main-block{
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    @media (max-width: 1300px) {
      padding-right: 40px;
    }
    @media (max-width: 950px) {
      padding-right: 0;
    }
  }
  &__main-block-top{
    display: flex;
    @media (max-width: 1150px) {
      justify-content: space-between;
    }
  @media (max-width: 650px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  }

  &__details{
    width: 50.5%;
    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &__details-title{
    @media (max-width: 650px) {
      text-align: center;
    }
  }

  &__details-items{
    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__diagram{
    width: 49.5%;
    @media (max-width: 1150px) {
      width: 40%;
    }
    @media (max-width: 650px) {
      width: 100%;
      text-align: center;
    }
  }

  &__diagram-title{

  }

  &__diagram-content{
    display: flex;
    padding-top: 20px;
    @media (max-width: 1150px) {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
    @media (max-width: 650px) {
      flex-direction: row;
      margin-left: 0;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &__chart-container{
    position: relative;
    height: 122px;
    width: 122px;
  }

  &__chart{

  }

  &__chart-subtext{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 49%;
    font-weight: 400;
    color: $purple;
    font-size: 15.5px;

  }

  &__legend-list{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 27px;
    margin-left: 18px;
    @media (max-width: 1150px) {
      margin-left: 0;
    }
  }
  &__legend-item{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    cursor: pointer;
  }

  &__color-box{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    &_1{
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
    &_2{
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
    &_3{
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
    &_4{
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }
  }

  &__chart-title_bottom{
    font-size: 15px;
    font-weight: 400;
  }

  &__reviews{
    margin-top: 13px;
    margin-bottom: 33px;
  }

  &__reviews-title-container{
    display: flex;
    justify-content: space-between;
    @media (max-width: 430px) {
      flex-direction: column;
    }
  }

  &__reviews-title{

  }

  &__number-of-reviews{
    margin-top: 3px;
    color: $darkShade50;
  }

  &__reviews-content{

  }

  &__review{
    width: 100%;
    margin-top: 19px;
    &:last-child{
      margin-top: 23px;
    }
  }

  &__main-block-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__rules{

  }

  &__rules-title{
    padding-left: 20px;
    padding-bottom: 8px;
    @media (max-width: 650px) {
      padding-left: 0px;
    }
  }

  &__cancel{
    width: 48.2%;
    margin-right: 6px;
    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &__cancel-title{

  }

  &__cancel-text{
    margin-right: 13px;
    margin-top: 17px;
  }

  &__card{
    @media (max-width: 950px) {
      margin-bottom: 20px;
    }
    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
    }
  }

  &__line{
    width: 100%;
    height: 1px;
    background-color: $darkShade25;
    margin-bottom: 8px;
  }
}
