include  ../../components/colors-and-type/color-block/color-block
include  ../../components/colors-and-type/type-item/type-item

.colors-and-type
  .colors
    +colorBlock("Dark Shade 100%", "#1F2041")(class="dark-shade-100")
    +colorBlock("Dark Shade 75%", "#1F2041")(class="dark-shade-75")
    +colorBlock("Dark Shade 50%", "#1F2041")(class="dark-shade-50")
    +colorBlock("Dark Shade 25%", "#1F2041")(class="dark-shade-25")
    +colorBlock("Dark Shade 5%", "#1F2041")(class="dark-shade-5")
    +colorBlock("Purple", "#BC9CFF")(class="purple")
    +colorBlock("Green", "#6FCF97")(class="green")
  ul.type
    li.type__row
      +typeItem("H1", "This one is the sub-section or widget title")(class="title-h1")
    li.type__row
      +typeItem("H2", "Next one is the item title inside widgets")(class="title-h2")
    li.type__row
      +typeItem("H3", "THIS IS A LABEL OR CTA TEXT")(class="title-h3")
    li.type__row
      +typeItem("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")(class="text-body")
