include  ../../components/colors-and-type/color-block/color-block

.colors-and-tipe
  .colors
    +colorBlock("Dark Shade 100%", "#1F2041")
    +colorBlock("Dark Shade 75%", "#1F2041")
    +colorBlock("Dark Shade 50%", "#1F2041")
    +colorBlock("Dark Shade 25%", "#1F2041")
    +colorBlock("Dark Shade 5%", "#1F2041")
  .type