.registration
  .registration__content
    .registration__header
      include ../../../components/headers-and-footers/header/header
  .registration__background
    img.registration__background-img(src="./assets/img/main-bg-4.jpg" alt="background-image")
  .registration__card
    include ../../../components/cards/account-registration/account-registration