@import '../../../components/headers-and-footers/header/header';
@import '../../../components/cards/account-registration/account-registration';
@import '../../../components/headers-and-footers/footer/footer';
@import '../../../../node_modules/swiper/swiper';
@import '../../../../node_modules/swiper/swiper-vars';
@import '../../../../node_modules/swiper/modules/effect-fade/effect-fade';
@import '../../../../node_modules/swiper/modules/autoplay/autoplay';

.registration{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.registration__content{
  position: relative;
  width: 100%;
  height: 754px;
  @media (min-width: 1441px) {
    height: 950px;
  }
}
.registration__header{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  max-height: 7vh;
  min-height: 40px;
  z-index: 500;
}
.registration__background{
  width: 100%;
  height: 100%;
}
.swiper{
  width: 100%;
  height: 100%;
}
.registration__background-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.registration__card{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  z-index: 50;
  transform: translate(-49.5%, -50%);
  margin-top: 35px;
  @media (max-width: 1026px) {
    margin-top: 30px;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 850px) {
    margin-top: 3vh;
  }
  @media (max-width: 340px) {
    width: 340px;
  }
}
.registration__footer{
  padding-top: 8px;
  width: 100%;
}