include ../logo-block/logo-block
include ../social-networks-block/social-networks-block
include ../copyright/copyright

footer.footer-mobile
  .footer-mobile-logo
    +logoBlock
  .footer-mobile__copyright
    +copyright
  .footer-mobile__social-networks
    +socialNetworksBlock