.cards
  .cards__room-search
    include  ../../components/cards/room-search-form/room-search-form
  .cards__account-registration
    include  ../../components/cards/account-registration/account-registration
