@import '../../components/cards/room-search-form/room-search-form';
@import '../../components/cards/account-registration/account-registration';

.cards{
  padding: 150px 140px;
  background: #F4F4F6;
}
.cards__room-search{
  margin-bottom: 40px;
}