@import '../../components/cards/room-search-form/room-search-form';
@import '../../components/cards/account-registration/account-registration';
@import '../../components/cards/room-reservation/room-reservation';
@import '../../components/cards/account-login/account-login';
@import '../../components/cards/calendar/calendar';

.cards{
  display: flex;
  padding: 150px 140px;
  background: #F4F4F6;
}
.cards__column-1,
.cards__column-2{
  margin-right: 40px;
}
.cards__room-search,
.cards__room-reservation{
  margin-bottom: 40px;
}