include ../../components/cards/room-card/room-card

.cards
  .cards__column-1
    .cards__room-search
      include ../../components/cards/room-search-form/room-search-form
    .cards__account-registration
      include ../../components/cards/account-registration/account-registration
  .cards__column-2
    .cards__room-reservation
      include ../../components/cards/room-reservation/room-reservation
    .cards__account-login
      include ../../components/cards/account-login/account-login
  .cards__column-3
    .cards__calendar
      include ../../components/cards/calendar/calendar
    .cards__card-room 
      +roomCard("888","люкс", "9 990₽", "5", "145", "./assets/img/rooms-img/lux-img.jpg",
"./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg",
"lux-img", "room-img", "lux-img", "room-img")
    .cards__card-room
      +roomCard("840","", "9 900₽", "4", "65", "./assets/img/rooms-img/room-img.jpg",
"./assets/img/rooms-img/lux-img.jpg", "./assets/img/rooms-img/room-img.jpg", "./assets/img/rooms-img/lux-img.jpg",
"room-img", "lux-img", "room-img", "lux-img")(class="no-navigation")