.cards
  .cards__column-1
    .cards__room-search
      include  ../../components/cards/room-search-form/room-search-form
    .cards__account-registration
      include  ../../components/cards/account-registration/account-registration
  .cards__column-2
    .cards__room-reservation
      include  ../../components/cards/room-reservation/room-reservation