mixin dropdown(title)
  .dropdown
    h3.dropdown__title=title
    input.dropdown__input(placeholder="Сколько гостей" readonly)
    img.dropdown__input-check(src="./assets/img/check.png" alt="checkbox list trigger")