mixin dropdown(options)
  if options.sizeSmall
    .dropdown.dropdown_size_small
      h3.dropdown__title=options.title
      input.dropdown__input.dropdown__input(value=options.value readonly)
      img.dropdown__input-check(src="./assets/img/check.png" alt="checkbox list trigger")
  else
    .dropdown
      h3.dropdown__title=options.title
      input.dropdown__input(value=options.value readonly)
      img.dropdown__input-check(src="./assets/img/check.png" alt="checkbox list trigger")